;; shadow-cljs configuration
{:source-paths
 ["src/counter_frontend/src/main"
  "src/counter_frontend/src/test"]
 
 :dependencies
 [[reagent "1.2.0"]]

 :dev-http {8080 ["dist/counter_frontend" "src/counter_frontend/src"]}
 

 :builds
 {:app
  {:target :browser
   :build-hooks [(shadow.html/copy-file "src/counter_frontend/src/html/index.html" "dist/counter_frontend/index.html")]
   :output-dir "dist/counter_frontend/js"
   :asset-path "/js" 
   :js-options {:resolve {"counter-backend-did" {:target :file
                                                 :file "src/declarations/counter_backend/counter_backend.did.js"}}} 
   
   ;; dfx deploy will automatically set an environment variable 'DFX_NETWORK' to 'ic' or 'local'
   :closure-defines {counter.actor/dfx-network #shadow/env "DFX_NETWORK"}

   ;; this is needed for a release build, otherwise you'll get errors from the js imports
   :compiler-options {:optimizations :simple}

   :modules {:main
             {:init-fn counter.app/init}}}}}
